*{
    margin:0;
    padding: 0;

}
:root{
    --clr-primary: #2962ff;
    --clr-primary-hover: #0d47a1;
}

body{
    font-family:  'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.main{
    width: 54vw;
}

.slide-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}
.btn-add{
    width: 10%;
    height: 25px;
}
.slider{
    -webkit-appearance: none;
    width: 40%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #04AA6D; 
    cursor: pointer; 
}
  
.slider:hover{
    opacity: 1;
}

#main-container{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(12px, 1fr));
    justify-content: center;
}

.square{
    height: 12px;
    width: 12px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
}

